    style{
      box-sizing: border-box;
    }
    body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    header{
        background-color: #666;
        padding: 5px;
        text-align: center;
        font-size: 20px;
        color: white;
      }
    footer {
        background-color: #666;
        padding: 5px;
        text-align: center;
        font-size: 15px;
        color: white;
      } 
    nav {
        float: center;
        background: #de2828;
        padding: 10px;
        text-align: center;
        display: block
      }
      
    a{
        color: white;
        font-size: medium;
    }
    li {
        display: inline;
        text-align: center
    
      }

    article{
        background-color: #d8baba;
    }
    aside {
        width: 30%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        background-color: beige;
      }
