body {
    background-color: white;
    color:black;
}
header, footer{
    background-color: rgb(50, 175, 186);
    text-align: center;
}
h1{
    padding: 15px;
    font-size: 28px;   
 }
 
h2{
    padding: 15px;
    font-size: 18px; 
    text-align: center;
}
p{
    padding-left: 15px;
    font-size: 15px;
    text-align: center;
}
nav {
    padding: 5px;
    text-align: center;
    background-color: rgb(162, 222, 227);
}
  
nav li{
    display: inline; 
  }

nav a:hover{ color: rgb(225, 14, 14);}
a { text-decoration: none;} 

li{
    list-style-type: none;
    padding: 10px;
    font-size: 15px;
}
aside{
    float: left;
    width: 25%;
    height: 100%;
    text-align: left;
    padding-left: 15px;
    background: rgb(162, 222, 227)
}
