table td th{
    border-style:solid
}
form{
    font-size: 12px;
}
h1{
   font-size: 26px;
   font-weight: lighter;
   padding-top: 6px; 
}
.btn {
    background-color: rgb(64, 192, 50);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 24px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: rgb(19, 114, 17)
}

footer{
    background-color: rgb(50, 186, 91);
    padding: 12px;
    font-size: 14px;
    }

header{
    text-align: center;
    background-color: rgb(50, 186, 91);
    padding: 10px;
    font-weight: bold;
}
a{
    font-size: 20px;
    font-weight: lighter;
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(27, 90, 20);
}
